.outer_container {
  margin-left: 40%;
  margin-right: auto;
}

@media (max-width: 980px) {
  .main__header {
    text-align: center;
  }
  .outer_container {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10% 25% 10%; /* bottom art is ~25% */
    height: 100%;
    /* height: 75vh; */
    overflow: scroll;
    /* clip-path: polygon(
      100% 0%,
      99.71% 89.18%,
      85.06% 81.26%,
      67.82% 75.18%,
      49.73% 73.22%,
      33.29% 75.06%,
      18.61% 79.59%,
      0% 89.37%,
      0% 0%
    ); */
  }
}

@media (max-width: 650px) {
  .outer_container {
    padding-bottom: 40%;
  }
}
